# ignore everything
*
# don't ignore directories so we can recurse into them
!*/
# don't ignore R files and .gitignore files
!*.gitignore
!*.R
!*.Rmd
# ignore directory with old analyses prior to file restructure
*.Analyses*/
communication/
meetings/
